.header {
    display: flex;
    align-items: center;

    background-color: $color5;
    height: 50px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.165);

    &__nav {
        display: grid;
        grid-template-columns: 20% 60% 20%;

        width: 100%;
        &-iconos {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;
                color: $color1;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                i {
                    font-size: 18px;
                }
            }
        }

        &-titulo {
            display: flex;
            justify-content: center;
            align-items: center;

            letter-spacing: 0.5px;
            font-family: $fuente2;
            font-size: 20px;
            text-transform: uppercase;
            color: $color0;

            margin: 0;
            padding: 0;
        }
    }


}