.section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 400px;

    .resultado {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;

        text-align: center;

        &-texto {
            width: 100%;

            margin: 0 0 5px;

            text-transform: uppercase;
            font-family: $fuente2;
            color: $color5;
            font-size: 80px;
        }

        &-nombres {
            margin: 0 0 30px;

            text-transform: uppercase;
            font-family: $fuente2;
            color: $color5;
            font-size: 20px;
        }
    }

    #calcular-nombres {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        padding: 15px 0;

        h2 {
            margin: 0 0 10px;
            padding: 0;

            border-bottom: 1px solid $color2;

            color: $color3;
            font-size: 20px;
            text-transform: uppercase;
            font-family: $fuente1;
        }

        input {
            margin-top: 10px;
            padding: 8px 7px;

            font-family: $fuente1;
            font-size: 18px;
            color: $color4;

            border-style: none;
            border-bottom: 2px solid $color3;
            border-radius: 5px;
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.165);
            outline: 0px;
            
            height: 30px;
            width: 80%;
            max-width: 300px;
        }
        .sombraError {
            box-shadow: 0 0 10px 0px #fd40639f;
            color: #7d818193;
            border-bottom: 2px solid #7d8181a9;
        }
        
        .botones {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 15px;

            width: 80%;
            max-width: 300px;

            
            #resetearBtn {
                background-color: $color3;
                
                display: flex;
                justify-content: center;
                align-items: center;

                height: 40px;
                width: 40px;

                margin-right: 5px;
                
                color: $color1;
                
                border-style: none;
                box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.165);
                border-radius: 20px;
            }
            
            #calcularBtn {
                background-color: $color3;
                
                width: 80%;
                height: 40px;
                
                margin-left: 5px;
                
                font-size: 17px;
                color: $color0;
                font-family: $fuente2;

                border-style: none;
                box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.165);
                border-radius: 3px;
            }

            .desabilitado {
                opacity: 60%;
            }


        }
    }
}

@media all and (min-width: 350px) {
    .section {
        #calcular-nombres {
            .botones {
                #calcularBtn {
                    font-size: 20px;
                }
            }
        }
    }
}